extends layout

block content
  div.container.card-0.justify-content-center
    div.card-body.px-sm-4.px-0
      div.row.justify-content-center
        div.col-md-10.col
          h3.font-weight-bold.ml-md-0.mx-auto.text-center.text-sm-left Convert CSV to MySQL
            p.mt-md-4.ml-md-0.ml-2.text-center.text-sm-left You can get info you need very easily, quickly and perfectly!
      div.row.justify-content-center.round
        div.col-lg-10.col-md-12
          div.card.shadow-lg.card-1
            div.card-body.inner-card
              div.row.justify-content-center
                div.col-md-12.col-lg-10.col-12
                  div.row.justify-content-center
                    label.my-auto Reported successfully!
                  div.row.justify-content-center
                    label.my-auto Start Time : #{startTime} 
                  div.row.justify-content-center
                    label.my-auto End Time : #{endTime} 
